<% form_for(@tmpl, :url => @tmpl.path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, t(:name) %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :body, t(:body) %>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.hidden_field :project_id %>
    <%= f.submit t(submit_label(@tmpl)) %><%= link_to t(:cancel), @project %>
  </p>
<% end %>
