<p>
  <b>Description:</b>
  <%=h @mail.description %>
</p>

<p>
  <b>Reference:</b>
  <%=h @mail.reference %>
</p>

<p>
  <b>Group:</b>
  <%=h @mail.group %>
</p>

<p>
  <b>Gateway:</b>
  <%=h @mail.gateway %>
</p>

<p>
  <b>Template:</b>
  <%=h @mail.mail_template %>
</p>

<p>
  <b>Body:</b>
  <%=h @mail.body %>
</p>

<p>
  <b>Cc:</b>
  <%=h @mail.cc %>
</p>

<p>
  <b>Bcc:</b>
  <%=h @mail.bcc %>
</p>

<p>
  <b>From:</b>
  <%=h @mail.from %>
</p>

<p>
  <b>Charset:</b>
  <%=h @mail.charset %>
</p>

<p>
  <b>Content type:</b>
  <%=h @mail.content_type %>
</p>

<p>
  <b>Reply to:</b>
  <%=h @mail.reply_to %>
</p>

<p>
  <b>Headers:</b>
  <%=h @mail.headers %>
</p>

<p>
  <b>Mime version:</b>
  <%=h @mail.mime_version %>
</p>

<p>
  <b>Subject:</b>
  <%=h @mail.subject %>
</p>


<%= link_to 'Edit', edit_mail_path(@mail) %> |
<%= link_to 'Back', mails_path %>