<% form_for(@group, :url => @group.path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field :project_id %>
    <%= f.label :name, t(:name) %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit t(submit_label(@group)) %>
  </p>
<% end %>
