<%= breadcrums @group %>

<%= title t(:title, :group => @group.name) %>

<div class="actions">
  <%= link_to t(:edit_group), [:edit, @project, @group] %> 
  <%= link_to t(:new_member), new_project_group_member_path(@project, @group) %>
</div>

<%= render '/members/members', :object => @group.members %>

