<%= title t(:title) %>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email, t(:email) %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, t(:password) %>
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, t(:password_confirmation) %>
    <%= f.text_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit t(:submit) %>
  </p>
<% end %>

