<%= breadcrums @project %>

<%= title t(:title, :project => @project.name) %>

<div class="actions">
  <%= link_to t(:edit_project), edit_project_path(@project) %>
  <%= link_to t(:new_group), new_project_group_path(@project) %>
  <%= link_to t(:new_mail_template), new_project_mail_template_path(@project) %>
  <%= link_to t(:new_gateway), new_project_gateway_path(@project) %>
  <%= link_to t(:new_mail), new_project_mail_path(@project) %>
</div>

<div class="layout">
  <div class="principal">
    <%= render '/mails/mails', :object => @project.mails %>
  </div>
  <div class="extra">
    <%= nice_list(:template_list, @project.mail_templates, :name) %>
    <%= nice_list(:group_list, @project.groups, :name) %>
    <%= nice_list(:gateway_list, @project.gateways, :name) %>
  </div>
</div>

