<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Users: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'basic' %>
  </head>
  <body>

    <div id="head">
      <% if current_user -%>
        <%= link_to current_user.email, account_path %>
        <%= link_to t(:logout), logout_path %>
      <% else -%>
        <%= link_to t(:login), login_path %>
      <% end -%>
    </div>
    <div id="main">
      <div id="pop">&nbsp;</div>
      <div class="page">
        <%= yield %>
      </div>
      <div id="push">&nbsp;</div>
    </div>
    <div id="footer">
      ringtwice - calclab
    </div>
  </body>
</html>
