<% form_for(@member, :url => @member.path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, t(:name) %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, t(:email) %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.hidden_field :group_id %>
    <%= f.submit t(submit_label(@member)) %>
    <%= link_to t(:cancel), [@group.project, @group] %>
  </p>
<% end %>